<h2>Student Manager</h2>

<!-- FORM -->
<input [(ngModel)]="newStudent.name" placeholder="Name">
<input [(ngModel)]="newStudent.email" placeholder="Email">

<button *ngIf="!isEditMode" (click)="add()">Add</button>
<button *ngIf="isEditMode" (click)="update()">Update</button>
<button *ngIf="isEditMode" (click)="resetForm()">Cancel</button>

<hr>

<!-- LIST -->
<ul>
  <li *ngFor="let s of students">
    {{s.name}} - {{s.email}}

    <button (click)="edit(s)">Edit</button>
    <button (click)="delete(s.id!)">Delete</button>
  </li>
</ul>