<div class="container">

  <h2>🎓 Student Manager</h2>

  <input [(ngModel)]="newStudent.name" placeholder="Enter Name">
  <input [(ngModel)]="newStudent.email" placeholder="Enter Email">

  <button *ngIf="!isEditMode" (click)="add()">Add</button>
  <button *ngIf="isEditMode" (click)="update()">Update</button>
  <button *ngIf="isEditMode" (click)="resetForm()">Cancel</button>

  <ul>
    <li *ngFor="let s of students; trackBy: trackById">
      <span>{{s.name}} - {{s.email}}</span>

      <div>
        <button (click)="edit(s)">Edit</button>
        <button (click)="delete(s.id!)">Delete</button>
      </div>
    </li>
  </ul>

</div>